<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzp.springcloud.dao.DeptMapper" >
  <resultMap id="BaseResultMap" type="com.lzp.springcloud.pojo.Dept" >
    <id column="dept_no" property="deptNo" jdbcType="BIGINT" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="db_source" property="dbSource" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    dept_no, dept_name, db_source
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lzp.springcloud.pojo.DeptExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dept1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dept1
    where dept_no = #{deptNo,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dept1
    where dept_no = #{deptNo,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lzp.springcloud.pojo.DeptExample" >
    delete from dept1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lzp.springcloud.pojo.Dept" >
    insert into dept1 (dept_no, dept_name, db_source
      )
    values (#{deptNo,jdbcType=BIGINT}, #{deptName,jdbcType=VARCHAR}, #{dbSource,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lzp.springcloud.pojo.Dept" >
    insert into dept1
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deptNo != null" >
        dept_no,
      </if>
      <if test="deptName != null" >
        dept_name,
      </if>
      <if test="dbSource != null" >
        db_source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deptNo != null" >
        #{deptNo,jdbcType=BIGINT},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="dbSource != null" >
        #{dbSource,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lzp.springcloud.pojo.DeptExample" resultType="java.lang.Integer" >
    select count(*) from dept1
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dept1
    <set >
      <if test="record.deptNo != null" >
        dept_no = #{record.deptNo,jdbcType=BIGINT},
      </if>
      <if test="record.deptName != null" >
        dept_name = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.dbSource != null" >
        db_source = #{record.dbSource,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dept1
    set dept_no = #{record.deptNo,jdbcType=BIGINT},
      dept_name = #{record.deptName,jdbcType=VARCHAR},
      db_source = #{record.dbSource,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lzp.springcloud.pojo.Dept" >
    update dept1
    <set >
      <if test="deptName != null" >
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="dbSource != null" >
        db_source = #{dbSource,jdbcType=VARCHAR},
      </if>
    </set>
    where dept_no = #{deptNo,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lzp.springcloud.pojo.Dept" >
    update dept1
    set dept_name = #{deptName,jdbcType=VARCHAR},
      db_source = #{dbSource,jdbcType=VARCHAR}
    where dept_no = #{deptNo,jdbcType=BIGINT}
  </update>
</mapper>